/* Add a black background color to the top navigation */
.topnav {
    background-color: mediumspringgreen;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: blue;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
body
{

    background-image:url("Img/20.jpg");
    background-position: center;

}

#textExamples
{

}
h1
{
    color: black;
    text-align: center;
    text-decoration-style: -moz-wavy;
    font-family: "cursive";
    /* www.w3schools.com used for wavy */
}
p
{
    color: Black;
    background-image: linear-gradient(mediumvioletred, orange);
    text-align: center;
    width: 500px;
    height: 300px;
    border: 10px solid #333333;
    display: -webkit-flex;
    display: ruby;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    align-content: center;
    text-align-all: center;
    -webkit-align-content: center;
    -webkit-align-items: center;
    margin-left: 690px;
    margin-right: 690px;
}
button
{
    color: black;
    background-image: linear-gradient(orange,pink);
    margin-left: 700px;
    border: medium;
    font-family: "Adobe Caslon Pro";
}
picture
{
    align-self: center;
}
